html{
    margin: 50px 200px;
    background: #D8F793;
}
header{
    text-align: center;
    border: 1px solid black;
    font-size: 70px;
    font-family: sans-serif;
}
nav{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}
.inicio{
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
}
.catalogo{
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
}
.biblioteca{
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
}
#novedades{
    text-align: end;
}
img{
    margin: 20px;
    width: 300px;
    vertical-align: text-bottom;  
}
a{
    text-align: center;
}